<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name = "Gmail Suite" verbose="1" parallel="methods" data-provider-thread-count="3">
    <test name = "Gmail Login and Draft Message Sent Test">
        <classes>
            <class name = "com.epam.GmailTest" />
        </classes>
    </test>
</suite>